@model InterviewTestTemplatev2.ViewModels.BonusCalculatorInput

@{
    ViewBag.Title = "Index";
}

<h2>Bonus Pool Calculator</h2>

<p>
    In order to calculate the bonus pool allocation for a particular employee, please:
    <br />
    <br />
    1. Enter in a valid amount for the total bonus pool<br />
    2. Select an employee for whom you wish to calculate the allocation<br />
    
</p>

@using (Html.BeginForm("Calculate", "BonusCalculator", FormMethod.Post))
{

@Html.AntiForgeryToken()
<div>
    <div class="form-body">
        <div class="form-group">
            <label>Bonus Pool Amount (£):</label>
            <div class="group-control">@Html.EditorFor(model => model.BonusPoolAmount) @Html.ValidationMessageFor(model => model.BonusPoolAmount)</div>
        </div>
    </div>
    <div class="form-group">
        <label>Employee:</label>
        <div class="group-control">@Html.DropDownListFor(model => model.SelectedEmployeeId, new SelectList(Model.AllEmployees, "ID", "Full_Name"))</div>
    </div>
    <div class="buttons-row">
        <div class="buttons"></div>
            <input type="submit" value="Calculate" />
    </div>

 </div>

        }
